h1{
    text-align: center;
    text-decoration: underline;
}

a{
    font-weight: bold;
    text-transform: uppercase;
}
.center{

    text-align: center;
    color: navy;
}
.center img{
    max-height: 50vh;
}
.center u{
    font-weight: bold;
    text-transform: capitalize;
}